.card-view-container{
    display: flex;
    flex-direction: row;
}

.card-view-image{
    height: 80%;
    width: 50%;
}

.card-view-image-image{
    height: 850px;
    padding-left: 50px;
    padding-top: 30px;
}